### clean NashvilleHousing before you import it into mysql table

For text columns, replace blank cells with 'NULL'. For numeric column, replace blank cells with zero.

Also, remember to reformat date field to be in mysql accepted format yyyy-mm-dd.

In [2]:
import pandas as pd

#### clean CovidVaccinations.csv

In [3]:
# Read the CSV file into a DataFrame
df = pd.read_csv(r'F:\Library\Engineering\computer science\Data Science\portfolio projects\Data Cleaning in SQL\Nashville Housing Data for Data Cleaning (reuploaded).csv')

In [4]:
df.columns

Index(['UniqueID ', 'ParcelID', 'LandUse', 'PropertyAddress', 'SaleDate',
       'SalePrice', 'LegalReference', 'SoldAsVacant', 'OwnerName',
       'OwnerAddress', 'Acreage', 'TaxDistrict', 'LandValue', 'BuildingValue',
       'TotalValue', 'YearBuilt', 'Bedrooms', 'FullBath', 'HalfBath'],
      dtype='object')

In [5]:
# Replace text blank cells with NULL & numeric blank cells with zero
for column in df.columns:
    if df[column].dtype == 'object':
        df[column] = df[column].fillna('NULL')
    else:
        df[column] = df[column].fillna(0)

# df = df.map(lambda x: 'NULL' if pd.isna(x) or x == '' else x)

In [8]:
# Save the updated DataFrame to a new CSV file
df.to_csv('Nashville Housing Data - Cleaned for sql.csv', index=False)

In [9]:
df.tail()

,UniqueID,ParcelID,LandUse,PropertyAddress,SaleDate,SalePrice,LegalReference,SoldAsVacant,OwnerName,OwnerAddress,Acreage,TaxDistrict,LandValue,BuildingValue,TotalValue,YearBuilt,Bedrooms,FullBath,HalfBath
56472,30469,188 10 0A 101.00,SINGLE FAMILY,"1435 WINDING CREEK DR, NOLENSVILLE",2015-05-27,157500,20150608-0053286,No,NULL,NULL,0.0,NULL,0.0,0.0,0.0,0.0,0.0,0.0,0.0
56473,27707,188 10 0A 107.00,SINGLE FAMILY,"1423 WINDING CREEK DR, NOLENSVILLE",2015-03-02,145000,20150304-0019013,No,NULL,NULL,0.0,NULL,0.0,0.0,0.0,0.0,0.0,0.0,0.0
56474,52709,188 10 0A 118.00,VACANT RESIDENTIAL LAND,"1804 GRACE POINT LN, NOLENSVILLE",2016-08-16,234611,20160819-0087214,Yes,NULL,NULL,0.0,NULL,0.0,0.0,0.0,0.0,0.0,0.0,0.0
56475,54042,188 10 0A 121.00,VACANT RESIDENTIAL LAND,"1709 PARK TERRACE LN, NOLENSVILLE",2016-09-07,93844,20160919-0098411,Yes,NULL,NULL,0.0,NULL,0.0,0.0,0.0,0.0,0.0,0.0,0.0
56476,54043,188 10 0A 122.00,VACANT RESIDENTIAL LAND,"1713 PARK TERRACE LN, NOLENSVILLE",2016-09-07,93844,20160919-0098411,Yes,NULL,NULL,0.0,NULL,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
pd.DataFrame().map()